@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .clients__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    padding: 0;
    background-color: inherit;
    fill: var(--team-clients-icon-color);
    border: solid 1px var(--team-clients-icon-color);
    border-radius: 4px;

    transition: fill var(--transition-time) var(--timing-function);

    &:hover,
    &:focus {
      fill: var(--blue-accent);
      border: solid 1px var(--blue-accent);
      cursor: pointer;
    }
  }
  .clients__image {
    display: inline-block;
  }
}
